@use "../../styles";

.header {
  position: fixed;
  width: 100%;
  background-color: black;
  z-index: 9999;
  height: styles.$header-height;
}

.header-container {
  width: 100%;
  display: grid;
  place-items: center;
  height: 100%;

  img {
    height: styles.$header-height;
  }
}

#header-gap {
  height: styles.$header-height;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .header-container {
    img {
      height: auto;
      width: 240px;
    }
  }
}
