$header-height: 80px;

.header{
  position: fixed;
  width: 100%;
  background-color: black;
  height: $header-height;
}

.header-container{
  width : 100%;
  display: grid;
  place-items: center;
  height: 100%;

  img{
    height: $header-height;
  }

  mat-icon{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 40px;
    height: 40px;

    font-size: 40px;
    color: white;
  }
}

#header-gap{
  height: $header-height;
  width: 100%;
}