.movie-infos {
  width: 100%;
  display: grid;
  place-items: center;

  img {
    padding: 20px 0;
    width: 15%;
    height: auto;
  }

  h1 {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.7);
    width: 95%;
    margin: 0 auto;
  }
}
