$header-height: 80px;

@mixin container-width() {
  @media only screen {
      width: 1280px;
  }
  @media only screen and (max-width: 1300px) {
    width: 900px;
  }
  @media only screen and (max-width: 900px) {
    width: 600px;
  }
  @media only screen and (max-width: 600px) {
    width: 100vw * 0.90;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
  @include container-width;
  margin: 0 auto;
}

.content-height {
  min-height: calc(100vh - $header-height);
}

.display-flex{
  display: flex !important;
  flex-direction: row !important;
}

.footer-gap{
  padding-bottom: 50px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: rgba(0,0,0, .5)!important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: rgba(0,0,0, 1)!important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: rgba(0,0,0, .9)!important;
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
  color: rgba(0,0,0,.7)!important;
  // color: $mainColor!important;
}

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: rgba(0,0,0,.7)!important;
}

@media only screen and (max-width: 1300px){
}

@media only screen and (max-width: 900px){
}

@media only screen and (max-width: 600px){
}
