<app-register-confirm *ngIf="registerConfirm"></app-register-confirm>
<app-back-button [isHome]="false"></app-back-button>

<form class="container content-height content-grid" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field appearance="outline" class="form-group" color="primary">
      <mat-label>Nome</mat-label>
      <input id="name" matInput type="string" formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-group">
      <mat-label>Email</mat-label>
      <input id="email" matInput type="email" formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-group">
      <mat-label>Telefone</mat-label>
      <input
        id="cellphone"
        matInput
        type="string"
        formControlName="cellphone"
        mask="(00) 00000-0000"
      />
    </mat-form-field>

    <div class="form-group register-checkbox-content">
      <mat-checkbox class="register-checkbox" formControlName="notifications"></mat-checkbox>
      <label for="password">Quero receber notificações</label>
    </div>

    <div appearance="outline" class="form-group register-checkbox-content">
      <mat-checkbox class="register-checkbox" formControlName="licenseTerms"></mat-checkbox>
      <!-- <input
        class="register-checkbox"
        type="checkbox"
        formControlName="licenseTerms"
      /> -->
      <label for="password">Li e aceito os termos de uso</label>
    </div>
  </div>

  <button
    type="submit"
    class="form-group submit-button"
    [disabled]="registerForm.invalid"
    (ngSubmit)="onSubmit()"
  >
    Finalizar Cadastro
  </button>
</form>
